.container {
  width: 100%;
  max-width: 1025px;
  margin: 60px auto 0 auto;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.15) 90%,
    transparent
  );
  overflow: hidden;
}

.top-manga {
  padding: 30px 10px 30px 15px;
  text-align: left;
  color: #fff;
  font-weight: 700;
  margin-right: auto;
  background: linear-gradient(90deg, #000, transparent);
}

.inner-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  padding: 25px 25px;
}

.pagination {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  color: rgb(190, 190, 190);
  font-size: 0.8rem;
}

/*********************** PAGINATION ******************/
.root {
  border: 1px solid red;
}

@media screen and (min-width: 420px) {
  .inner-container {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}
@media screen and (min-width: 768px) {
  .inner-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
@media screen and (min-width: 1260px) {
  .inner-container {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}
