.header {
  display: flex;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(220, 9, 20, 0.5),
    #dc0914 6%,
    rgba(0, 0, 0, 0.8) 0,
    rgba(220, 9, 20, 0)
  );
  color: white;
  width: 100%;
  padding: 0 1rem;
}

.header:hover {
  background: linear-gradient(
    180deg,
    rgba(220, 9, 20, 0.7),
    #dc0914 6%,
    #000 0,
    rgba(220, 9, 20, 0)
  );
  transition: all 0.3s;
}

.header div {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.header div a {
  width: 100%;
  text-align: center;
  margin: 0 20%;
}

.header div a div {
  width: 105px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  width: 100%;
  height: auto;
}

.hamburger {
  font-size: 3.75rem;
}

.search-container {
  display: grid;
  place-items: center;
  width: 4rem;
}

.search-inner-container {
  width: 100%;
  text-decoration: none;
  /* border: 1px solid red; */
  color: rgb(202, 202, 202);
}

.search {
  width: 100%;
  font-size: 1.625rem;
}

.search-btn-show {
  visibility: hidden;
}
