.container {
  margin-bottom: 5px;
}

a {
  color: #fff;
  text-decoration: none;
}

.inner-container {
  width: 100%;
  /* color: #fff; */
}

.img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: 50% 0;
}

.description {
  height: 70px;
  position: relative;
  top: -70px;
  background: linear-gradient(0deg, #000 25%, transparent);
  padding: 30px 5px 0 7px;
  margin-bottom: -65px;
  transition: all 0.3s;
}

.description .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0;
  margin-bottom: 5px;
  font-weight: 500px;
}

.description .author {
  color: #bebebe;
  font-size: 9px;
  letter-spacing: 0.06rem;
  font-weight: 400;
  margin-top: -2px;
  margin-left: 2px;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1rem;
}

.container:is(:hover, :focus) .title {
  color: yellow;
}

.container:is(:hover, :focus) .description {
  height: 100px;
  position: relative;
  top: -100px;
  padding: 45px 5px 15px 7px;
  margin-bottom: -95px;
  transition: all 0.3s;
}
.chapter {
  position: relative;
  padding: 4px 10px 10px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(180deg, #000, transparent);
  /* border-top: 1px solid #6e6e6e; */
  overflow: hidden;
}

.chapter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: 5;
  background-color: #6e6e6e;
}

/* .container:has(a) .inner-container {
  color: yellow;
  border: 1px solid red;
} */

.container:has(:hover, :focus) .description {
  height: 100px;
  position: relative;
  top: -100px;
  padding: 45px 5px 15px 7px;
  margin-bottom: -95px;
  transition: all 0.3s;
}

.chapter:is(:hover, :focus) {
  background-color: #5d0914;
  color: #fff;
  border-radius: 0 0 10px 10px;
  transition: all 0.3s;
}

.chapter:hover::before {
  background-color: #5d0914;
}

.chapter div {
  position: relative;
  display: flex;
  align-items: center;
  padding: calc(0.5rem / 2) 0;
}

.chapter div .rank {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.4px;
  margin-right: calc(0.5rem * 1);
  white-space: nowrap;
}

.chapter div .rating {
  position: absolute;
  right: -13px;
  top: 3px;
  display: inline-block;
  color: #cecece;
  text-align: right;
  /* font-weight: 700; */
  font-size: 10px;
  padding: 3px 10px 3px 20px;
  /* margin-top: -3px; */
  /* margin-left: auto; */
  letter-spacing: 0.05rem;
  background: linear-gradient(270deg, #dc0914, rgba(220, 9, 20, 0));
  opacity: 1;
}

.chapter div .rating span {
  display: inline-block;
  text-align: center;
  /* margin: 2px 0 0 0; */
  padding-left: 4px;
  color: #f6fa1b;
}

.chapter div .rating span svg {
  width: 100%;
}

.total-chapter {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  overflow: hidden;
  height: 22px;
  color: #6e6e6e;
}

@media (max-width: 297px) {
  .img {
    height: 100%;
  }
}
