.container {
  width: 100%;
  margin-top: 4rem;
  padding: 0 10px;
  color: #fff;
  background: linear-gradient(0deg, rgba(220, 9, 20, 0.5), rgba(220, 9, 20, 0));
}

.inner-container {
  width: 100%;
  padding: 25px 0 20px 0;
  max-width: 100%;
  min-width: 110px;
  line-height: 1.1rem;
  text-align: center;
  border-radius: 50px 50px 0 0;
  background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.5));
}
.logo {
  width: 100%;
  max-width: 150px;
  margin-top: -50px;
  text-align: center;
}

.copyright {
  margin: 1.325rem 0;
  color: #a8a8a8;
  letter-spacing: 0.05rem;
}

@media (min-width: 768px) {
  .inner-container {
    border-radius: 0;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(0, 0, 0, 0.5),
      transparent
    );
  }
}
