.search-container {
  display: grid;
  place-items: center;
  width: 4rem;
}

.search-inner-container {
  width: 100%;
  text-decoration: none;
  /* border: 1px solid red; */
  color: rgb(202, 202, 202);
}

.search {
  width: 100%;
  font-size: 1.625rem;
}
