@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
  min-height: 100%;
  background-color: #191919;
  font-weight: 500;
  max-width: 100%;
  line-height: 1;
}

.carousel-root {
  margin-top: -172px;
  background: linear-gradient(
    180deg,
    rgba(25, 25, 25, 0.8435749299719888) 5%,
    rgba(25, 25, 25, 0.9528186274509804) 23%,
    rgba(25, 25, 25, 1) 38%,
    rgba(25, 25, 25, 1) 56%,
    rgba(25, 25, 25, 0) 99%
  );
}

.slide div img {
  border-radius: 10px;
  overflow: hidden;
  width: 94% !important;
}

.carousel {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.4rem;
}

.carousel .control-dots {
  position: relative !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
