@keyframes top-fluid-img {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.fluidimg {
  background: linear-gradient(180deg, transparent, #000);
  background-image: url("../../assets/top_wide.png");
  height: 120px;
  max-height: 185px;
  position: relative;
  background-repeat: repeat-x;
  top: -95px;
  z-index: -2;
  opacity: 1;

  animation: top-fluid-img 50s linear infinite;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .fluidimg {
    animation: top-fluid-img 30s linear infinite;
  }
}
@media screen and (min-width: 768px) {
  .fluidimg {
    animation: top-fluid-img 15s linear infinite;
  }
}
